<ion-content [fullscreen]="true">
  <div class="principal">
    <h2>VEHICLE CARE</h2>
    <h1>{{modo === 'login'?'Bienvenido de vuelta':'Crear tu cuenta'}}</h1>
    <p>{{modo === 'login'? 'Inicia sesión para continuar.':'Completa los datos para crear tu cuenta.'}}</p>
    <div class="botons">
      <ion-button class="inicio" [class.active]="modo === 'login'" (click)="modo = 'login'">Iniciar sesión</ion-button>
      <ion-button class="registro" [class.active]="modo === 'register'" (click)="modo = 'register'">Registrarse</ion-button>
    </div>
    <br>
    <form class="formulario">
      <label class="input" *ngIf="modo === 'register'">
        <ion-input name="name" type="text" placeholder="Nombre completo" [(ngModel)]="usuario.name"></ion-input></label>
      <label class="input">
        <ion-input name="email" type="email" placeholder="Correo electronico" [(ngModel)]="usuario.email"></ion-input></label>
      <label class="input">
        <ion-input name="password" type="password" placeholder="Contraseña" [(ngModel)]="usuario.password"></ion-input></label>
      <label class="input" *ngIf="modo === 'register'">
        <ion-input name="passwordConfirm" type="password" placeholder="Confirme contraseña" [(ngModel)]="usuario.passwordConfirm"></ion-input></label>
      <p class="olvidar" *ngIf="modo === 'login'">¿Olvidaste tu contraseña?</p>
    </form>
    <ion-button (click)="accionPrincipal()">{{modo === 'login'?'Iniciar sesión':'Crear cuenta'}}</ion-button>
  </div>
</ion-content>