<ion-content [fullscreen]="true">
  <div class="principal">
    <h2>VEHICLE CARE</h2>
    <h1>Bienvenido de vuelta</h1>
    <p>Inicia sesión para continuar.</p>
    <div class="botons">
      <ion-button>Iniciar sesión</ion-button><ion-button>Registrarse</ion-button>
    </div>
    <br>
    <form class="formulario">
      <label class="input"><ion-input type="text" placeholder="Ingrese su email"></ion-input></label>
      <br>
      <label class="input"><ion-input type="password" placeholder="Ingrese su contraseña"></ion-input></label>
      <p class="olvidar">¿Olvidaste tu contraseña?</p>
    </form>
    <ion-button>Iniciar sesión</ion-button>
  </div>
</ion-content>